* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100%;
  font-family: system-ui, sans-serif;
  background-color: #212121;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.left {
  grid-area: 1 / 1 / 2 / 2;
}

[contentEditable=true]:empty:before {
    content: attr(placeholder);
    opacity: 0.6;
}

.center {
  grid-area: 1 / 2 / 2 / 3;
  border-left: 1px solid #ffffff38;
  border-right: 1px solid #ffffff38;
  .head {
    border-bottom: 1px solid #ffffff38;
    padding: 1rem 0;
    h2 {
      line-height: 1.5rem;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0 0 0 1rem;
    }
  }
  .new-tweet {
    padding: 0 1rem .75rem 1rem;
    border-bottom: .5rem solid #141414;

    .new-tweet-input-container {
      display: flex;
      align-items: center;
      margin: 0 0 1rem 0;
      min-height: 3rem;
      position: relative;
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%; 
        margin: 0 1rem 0 0;
        position: absolute;
        top: .75rem;
      }
    }
    .new-tweet-input {
      margin: 1.6rem 0 0 3.5rem;
      width: 100%;
      min-height: 3rem;
      font-size: 1.15rem;
      border: none;
      outline: none;
      word-break: break-all;
      word-wrap: break-word;
    }

    .new-tweet-input::placeholder {
      color: #858585;
    }

    .new-tweet-options {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      height: 3rem;
      margin: .5rem 0 0 0;
      button {
        border: none;
        border-radius: 1.5rem;
        height: 3rem;
        padding: 0 1.25rem;
        font-size: 1.25rem;
        color: white;
        background: #1da1f2;
        position: absolute;
        right: 0;
      }
    }
  }
}

.right {
  grid-area: 1 / 3 / 2 / 4;
}
